
.nav-container
{
    background-color:rgba(53,58,64,255);
    display:flex;
    align-items:center;
    width:100%;
    position:absolute;
    top:0px;
    justify-content:center;
    gap:300px;
}

.nav-div1
{
    display:flex;
    align-items: center;
    margin-left:100px;
}

.Bs-As
{
    font-size: 28px;
}

.CAC
{
    width:150px;
}

.nav-div2
{
    display:flex;
    justify-content:space-evenly;
    flex:1;
    margin-right:100px;
}
 



.container-main
{
    line-height:35px;
    background-color:transparent;
    color:white;
    display:flex;
    flex-direction:column;
    width:750px;
    text-align:right;
    font-size:24px;
    position:absolute;
    top:495px;
    right:155px;
}



.title
{
    font-size:50px;
    margin:0px;
    font-weight:700;
}

.Text
{
    padding:24px 0px;
}

.btn-T
{
    background-color:transparent;
    border:1px solid white;
    color:white;
}

.btn-2
{
    background-color:rgba(41,167,68,255) ;
    color:white;
    border:none;
}

.mid-page
{
    background-color:white;
    height:90vh;
    position:relative;
}

.mid-page::before
{
    position:absolute;
    content:" ";
    width:49.5%;
    height:1px;
    background-color:rgba(154,177,213,255);
    bottom:1px;
}

.mid-page::after
{
    position:absolute;
    content:" ";
    width:50.5%;
    height:1px;
    background-color:rgba(159,162,165,255);
    bottom:1px;
    right:0px;
}


.title-2
{
    background-color:white;
    text-align: center;
    margin-top:15px;
    font-size:16px;
}

.title-2 span
{
    display:block;
    padding:10px 10px;
    font-size:40px;
    text-align:center;
}

.container-personas
{
    display:flex;
    gap:50px;
    margin:0px 150px;
    justify-content:center;
}

.persona-1,.persona-2,.persona-3
{
    width:430px;
    height:720px;
    border:1px solid rgb(219, 219, 219);
    border-radius:5px;
}

.perfil
{
    height:400px;
}

.information span
{
    display: block;
    padding:30px 0px 20px 0px;
    font-size:30px;
    text-align:left;
    line-height:normal;
}
.information
{
    padding:20px;
    position:relative;
    font-size:16px;
}

.info-p
{
    line-height:30px;
   
}

.float-1,.float-2,.float-3,.float-4
{
    position:absolute;
    font-size:16px;
    border:none;
    border-radius:5px;
    padding:5px;
    text-align:center;
    font-weight:700;
}


.float-1
{
    background-color:rgba(254,193,6,255);
}

.float-2
{
    background-color:rgba(23,162,184,255);
    left:110px;
    color:white;
}

.float-3
{
    background-color:rgba(108,117,125,255);
}

.float-4
{
    background-color:rgba(220,53,70,255);
    left:100px;
}

.mid-page img
{   
    object-fit:fill;
    height:100%;
    width:100%;
    border-radius:4px 4px 0px 0px;
}

.container-aside
{
    display:flex;
    background-color:rgba(53,58,64,255);
}

.half-1,.half-2
{
    flex:1;
}

.half-1 img
{
    object-fit:contain;
    width:100%;
    display:block;
}

.half-2
{
    padding-left:20px;
    line-height:35px;
    font-size:18.5px;
    color:white;
    border-left:1px solid white ;
}


.half-2 span
{
    display: block;
    padding:30px 0px 20px 0px;
    font-size:30px;
    text-align:left;
}

.half-2 button
{
    margin-top:20px;
} 


.form-section
{
    font-size:16px;
    display:flex;
    flex-direction:column;
    margin-top:20px;
    align-items:center;
}

.section-P
{
    font-size:20px;
}

.dot
{
    text-decoration:underline dotted black;
}

.form-container
{
    display:flex;
    flex-direction:column;
    width:900px;
    height:300px;
    margin:10px;
}


.div-nombres
{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.input-nombres
{
    width:45%;
    padding:10px 0px 10px 10px;
    border-radius:5px;
    border:1px solid gray; 
    font-size:16px;   
}

.section-P2
{
    color:gray;
}

textarea
{
    box-sizing: border-box;
    width:100%;
    resize:vertical;
    border:1px solid gray;
    font-size:24px;
    border-radius:5px;
    padding:10px 0px 10px 20px;
    max-height:100%;
    min-height:112px;
}  

.div-textarea
{
    max-height:50%;
}

.send
{
    width:100%;
    background-color:rgba(150,201,62,255);
    color:white;
    border-radius:5px;
    padding:15px;
    font-size:25px;
    border:none;
    margin-top:20px;
}

input:focus,textarea:focus
{
    outline: none;
}

footer
{
    background-image:linear-gradient(90deg,rgba(30,63,82,255),rgba(30,81,110,255));
    display:flex;
    width:100%;
    height:110px;
    justify-content:center;
    align-items:center;
    overflow-wrap:break-word;
}

footer div
{
    color:white;
    font-size:16px;
    margin:35px;
    width:130px;
    overflow-wrap:break-word;
    white-space:pre-line;
    text-align: center;
    font-weight:300;
}

.W,.Bs-As
{
    color:white;
}
.G
{
    color:rgba(153,157,160,255);
}

.V
{
    color:rgba(44,160,68,255);
}

body
{
    font-family:'roboto',sans-serif;
    font-size:23px;
    position:relative;
}

button
{
    width:200px;
    height:50px;
    font-size:20px;
    border-radius:5px;
    padding-top:7px;
}


.background
{
    background-image:url(pictures/hawaii.jpg);
    min-height:100vh;
    background-repeat:no-repeat;
    position:relative;
    background-color:black;
}

.background::after
{
    content:"";
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    width:100%;
    height:100%;
}

p
{
    margin:0px;
}

body,html
{
    margin:0px;
    padding:0px;
}



@media (min-width:450.02px) and (max-width:768px)
{
  


    *{
        margin:0px;
        padding:0px;
        box-sizing:border-box;
    }

    .background
    {
        
        background-size:auto;
        min-height:100vh;
    }

    .background::after
{
    content:"";
    background-color: rgba(0,0,0,0.5);
    position:absolute;

    top: 0;
    right:0;
    bottom:0;
    left:0;

}

  .nav-container
  {
    font-size:11px;
    gap:0%;
    width:100%;

  }

  .nav-div1
  {
    margin-left:10px;
  }

  .nav-div2
  {
    box-sizing: border-box;
    margin-right:0%;
    text-align: center;
 
    gap:0%;
  }

  .home
  {
    box-sizing: border-box;
  }

  .Bs-As
  {
    font-size:20px;
  }
  
  .container-main
  {
    font-size:20px;
    line-height:normal;
    width:90%;
    right:2%;
    top:5%;
  }

  .button
  {
 

    width:auto;
    font-size:20px;
    border-radius:5px;
    padding-top:7px;
    padding:5%;
  }

  .mid-page
    {
        height:100%;
        position:relative;
        margin-bottom:10px;


    }

  .container-personas
  {
    box-sizing: border-box;

    display:flex;
    gap:2%;
    margin:10px 0px;
    justify-content:center;

  }

  .persona-1,.persona-2,.persona-3
  {

    box-sizing: border-box;
    width:100%;

    border-radius:5px;

    height:100%; 
  }

  .perfil
  {
    height:40%;
  }




  .half-1 img
  {
    object-fit:cover;
    height:100%;
  }

  .mid-page img

  {   box-sizing: border-box;

    object-fit:fill;

    border-radius:4px 4px 0px 0px;
    }

    .information
    {
        box-sizing: border-box;
        padding:1%;
        position:relative;
        font-size:16px;
        line-height:normal;


    }

    .float-1,.float-2,.float-3,.float-4
    {
        
        position:absolute;
        font-size:16px;
        border:none;
        border-radius:5px;
        padding:5px;
        text-align:center;
        font-weight:700;
    }

    .float-2
    {
        background-color:rgba(23,162,184,255);
        left:65%;
        color:white;
    }

    .float-4
    {
        background-color:rgba(220,53,70,255);
        left:50%;
    }

    .information span
    {
        display: block;
        padding:30px 0px 2% 0px;
        font-size:30px;
        text-align:left;
        line-height:normal;
    }

   

    .info-p
    {

       
        line-height:normal;

    
    }
  
  .half-2
  {
    font-size:15px;
    line-height:30px;
  }

  .half-2 span
  {
    padding:10px 0px;
  }

  .half-2 button
  {
    margin-top:0px;
    margin-bottom:5px;
  }

    .form-container
    {
        box-sizing: border-box;
        width:100%;
    }

    footer
    {
        width:100%;

        
        align-items:center;
        padding:0px;
        margin:0px;
    }

    footer div
    {
        width:100%;
        box-sizing: border-box;

        font-size:12px;
        

        margin:0px;
        padding:0px;
    }

}

@media (max-width:450px)
{
    *{
        margin:0px;
        padding:0px;
        box-sizing:border-box;
    }

    



    .nav-container
{
    background-color:rgba(53,58,64,255);
    display:flex;
    align-items:center;
    width:100%;
    position:absolute;
    top:0px;
    justify-content:center;
    flex-direction:column;
    gap:0px;

    
}

.nav-div1
{
    display:flex;
    align-items: center;
    margin-left:0px;
}

.Bs-As
{
    font-size: 20px;
}

.CAC
{
    width:100px;
}

.nav-div2
{
    box-sizing: border-box;
    display:flex;
    justify-content:space-evenly;

    margin-right:0px;
    gap:2px;
    font-size:16px;
    text-align: center;
    flex-wrap:wrap;
}
 
.home
{
    box-sizing: border-box;
}


.container-main
{
    line-height:35px;
    background-color:transparent;
    display:flex;
    flex-direction:column;
    width:90%;
    text-align:right;
    font-size:16px;
    position:absolute;

    top:5%;
    right:2%;
}



.title
{
    font-size:50px;
    margin:0px;
    font-weight:700;
}

.Text
{
    padding:24px 0px;
}

.btn-T
{
    background-color:transparent;
    border:1px solid white;
    color:white;
}

.btn-2
{
    background-color:rgba(41,167,68,255) ;
    color:white;
    border:none;
}

.mid-page
{
    height:auto;
    position:relative;
    margin-bottom:10px;
}

.mid-page::before
{
    position:absolute;
    content:" ";
    width:49.5%;
    height:1px;
    background-color:rgba(154,177,213,255);
    bottom:1px;
}

.mid-page::after
{
    position:absolute;
    content:" ";
    width:50.5%;
    height:1px;
    background-color:rgba(159,162,165,255);
    bottom:1px;
    right:0px;
}


.title-2
{
    text-align: center;
    margin-top:15px;
    font-size:16px;
}

.title-2 span
{
    display:block;
    padding:5px 10px;
    font-size:20px;
    text-align:center;
}

.container-personas
{
    display:flex;
    gap:10px;
    margin:10px 0px;
    justify-content:center;
    flex-direction:column;
}

.persona-1,.persona-2,.persona-3
{
    box-sizing: border-box;
    width:100%;
    
    border-radius:5px;
    height:auto;
}

.perfil
{
    height:200px;

}

.mid-page img
{   box-sizing: border-box;

    object-fit:fill;

    border-radius:4px 4px 0px 0px;
}


.information span
{
    display: block;
    padding:30px 0px 20px 0px;
    font-size:30px;
    text-align:left;
    line-height:normal;
}
.information
{
    box-sizing: border-box;
    padding:20px;
    position:relative;
    font-size:16px;
}

.info-p
{
    line-height:30px;
}

.float-1,.float-2,.float-3,.float-4
{
    position:absolute;
    font-size:16px;
    border:none;
    border-radius:5px;
    padding:5px;
    text-align:center;
    font-weight:700;
}


.float-1
{
    background-color:rgba(254,193,6,255);
}

.float-2
{
    background-color:rgba(23,162,184,255);
    left:110px;
    color:white;
}

.float-3
{
    background-color:rgba(108,117,125,255);
}

.float-4
{
    background-color:rgba(220,53,70,255);
    left:100px;
}



.container-aside
{
    display:flex;
    background-color:rgba(53,58,64,255);
    width:100%;
}

.half-1,.half-2
{
    flex:1;
}

.half-1 img
{
    object-fit:cover;
    width:100%;
    height:100%;
    display:block;

}

.half-2
{
    max-width:50%;
    box-sizing: border-box;

    padding:0% 5% 0% 5%;
    line-height:20px;
    font-size:15px;
    color:white;
    border-left:1px solid white ;
}


.half-2 span
{
    box-sizing: border-box;

    padding:30px 0px 20px 0px;
    font-size:30px;
    text-align:left;
}

.half-2 p
{
    box-sizing: border-box;
}

.half-2 button
{
    margin-top:5%;
} 


.form-section
{
    box-sizing: border-box;
    font-size:16px;
    display:flex;
    flex-direction:column;
    margin-top:20px;
    align-items:center;
}

.section-P
{
    font-size:20px;
}

.dot
{
    text-decoration:underline dotted black;
}

.form-container
{
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    width:100%;
    height:300px;
    margin:10px;
}


.div-nombres
{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.input-nombres
{
    width:45%;
    padding:10px 0px 10px 10px;
    border-radius:5px;
    border:1px solid gray; 
    font-size:16px;   
}

.section-P2
{
    color:gray;
}

textarea
{
    box-sizing: border-box;
    width:100%;
    resize:vertical;
    font-size:24px;
    border-radius:5px;
    padding:10px 0px 10px 20px;
    max-height:100%;
    height:112px;
}  

.div-textarea
{
    max-height:50%;
}

.send
{
    box-sizing: border-box;
    width:100%;
    background-color:rgba(150,201,62,255);
    color:white;
    border-radius:5px;
    padding:15px;
    font-size:25px;
    border:none;
    margin-top:20px;
}

input:focus,textarea:focus
{
    outline: none;
}

footer
{
    background-image:linear-gradient(90deg,rgba(30,63,82,255),rgba(30,81,110,255));
    display:flex;
    width:100%;
    height:110px;
    justify-content:center;
    align-items:center;
    overflow-wrap:break-word;

    padding:0px;
    margin:0px;
    flex-wrap:wrap;
}





footer div
{
    box-sizing: border-box;
    color:white;
    font-size:12px;

 

    width:100%;
    overflow-wrap:break-word;


    text-align: center;
    font-weight:300;

    margin:0px;
    padding:0px;
    
}

.W,.Bs-As
{
    color:white;
}
.G
{
    color:rgba(153,157,160,255);
}

.V
{
    color:rgba(44,160,68,255);
}

body
{
    font-family:'roboto',sans-serif;
    font-size:23px;
    position:relative;
}

button
{

    width:auto;
    font-size:20px;
    border-radius:5px;
    padding-top:7px;
    padding:5%;
}


.background
{
    background-image:url(pictures/hawaii.jpg);
    min-height:100vh;
    background-repeat:no-repeat;
    position:relative;
 
    background-size:auto;
}

.background::after
{
    content:"";
    background-color: rgba(0,0,0,0.5);
    position:absolute;
   
    top: 0;
    right:0;
    bottom:0;
    left:0;

}

p
{
    margin:0px;
}

body,html
{
    margin:0px;
    padding:0px;
}

}

@media  (min-width:768.02px) and (max-width:1900px)

{


    *{
        margin:0px;
        padding:0px;
        box-sizing:border-box;
    }

    .background
    {
        
        background-size:auto;
        min-height:100vh;
    }

    .background::after
{
    content:"";
    background-color: rgba(0,0,0,0.5);
    position:absolute;

    top: 0;
    right:0;
    bottom:0;
    left:0;
    
}

  .nav-container
  {
    font-size:20px;
  
    width:100%;
    gap:5%;

  }

  .nav-div1
  {
    margin-left:10px;
  }

  .nav-div2
  {
    box-sizing: border-box;
    margin-right:0%;
    text-align: center;
  
    gap:2.5%;


    justify-content: center;
      
  }


  .home
  {
    box-sizing: border-box;
  }

  .Bs-As
  {
    font-size:20px;
  }
  
  .container-main
  {
    font-size:20px;
 
    width:90%;
    right:2%;
    top:15%;
 
  }

  .button
  {

    width:auto;
    font-size:20px;
    border-radius:5px;
    padding-top:7px;
    padding:5%;
  }

  .mid-page
    {
        height:100%;
        position:relative;
        margin-bottom:10px;

    }

  .container-personas
  {
    box-sizing: border-box;
    display:flex;
    gap:2%;
    margin:10px 2%;
    justify-content:center;
  }

  .persona-1,.persona-2,.persona-3
  {
    box-sizing: border-box;
    width:100%;
    border-radius:5px;
    height:100%; 
  }

  .perfil
  {
    height:40%;
  }




  .half-1 img
  {
    object-fit:cover;
    height:100%;
  }

  .mid-page img

  {   box-sizing: border-box;
    object-fit:fill;
    border-radius:4px 4px 0px 0px;
  }

    .information
    {
        box-sizing: border-box;
        padding:1%;
        position:relative;
        font-size:16px;
        line-height:normal;
    }

    .info-p
    {
        font-size:20px;
    }

    .float-1,.float-2,.float-3,.float-4
    {
        
        position:absolute;
        font-size:16px;
        border:none;
        border-radius:5px;
        padding:5px;
        text-align:center;
        font-weight:700;
    }

    .float-2
    {
        background-color:rgba(23,162,184,255);
        left:65%;
        color:white;
    }

    .float-4
    {
        background-color:rgba(220,53,70,255);
        left:50%;
    }

    .information span
    {
        display: block;
        padding:30px 0px 2% 0px;
        font-size:30px;
        text-align:left;
        line-height:normal;
    }

   

    .info-p
    {
        line-height:normal;
    }
  
  .half-2
  {
    font-size:15px;
    line-height:30px;
  }

  .half-2 span
  {
    padding:10px 0px;
  }

  .half-2 button
  {
    margin-top:0px;
    margin-bottom:5px;
  }

    .form-container
    {
        box-sizing: border-box;
        width:100%;
        margin:10px 0px;
    }

    footer
    {
        width:100%;

        
        align-items:center;
        padding:0px;
        margin:0px;
 
    }

    footer div
    {
        width:100%;
        box-sizing: border-box;

        font-size:16px;

        margin:0px;
        padding:0px;
    }



}



